/* *****************************

BVAmbient - VanillaJS Particle Background
Developed by: Bruno Vieira

**************************** */

.easygrid_column
{
	position:relative;
}
.easygrid_bvgrid
{
	display:flex;
}
.easygrid_block
{
	word-break: break-all;
	position: relative;
	box-sizing: border-box;
}

.video-player { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }

.video-player iframe, .video-player object, 
.video-player embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
p {
    font-weight: bold;
}

#search-type .btn {
    background-color: lightslategray;
	color: white;
}

#search-type .btn.active {
    background-color: midnightblue;
}

#side-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30em;
    height: 100%;
    float: right;
    background: lightslategray;
    color: black;
    z-index: 5;
	overflow-y: auto;
	overflow-x: hidden;
}